<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PixQuest</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            background-image: url(https://images2.alphacoders.com/705/705837.png);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
             background-size: cover;
            margin: 0;
            height: 100%;
        }
        
        #pagecontainer{
            position: fixed;
            width: 100%;
            height: 100%;
        }
        
        #sidebar{
            float: left;
            margin: 1%;
            height: 98%;
            width: 28%;
        }
        
        #profilediv{
            width: 100%;
            height: 600px;
            background-color: white;

            padding: 15px;
            border-radius: 5%;
            text-align: center;
        }
        
        #content{
            float: left;
            background-color: rgba(255,255,255,0.25);
            height: 100%;
            width: 70%;
            overflow: auto;
        }
        
        #taskdiv{
            position: relative;
            width: 420px;
            height:420px;
            background-color: white;

            padding: 15px;
            border-radius: 2%;
            margin: 10px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        #taskcontainer{
            width: 380px;
            min-height: 58px;
            border-radius: 2%;
            background-color: rgba(222,222,222,1);
            margin: 10px;
            font-size: 20px;
        }
        #taskcontainer:hover{
            background-color: rgba(235,235,235,1);
        }
        #taskname{
            float: left;
            width: 300px;
            height: 100%;
            margin: 0;
            padding: 15px;
        }
        #reward{
            float: left;
            width: 80px;
            height: 100%;
            margin: 0;
            padding: 15px;
            background-color: rgba(0,0,0,0.1);
        }
        
        #avatar{
            width: 100px;
            height: 100px;
            display: inline-block;
        }
    </style>
    <script>
        $(document).ready(()=>{
            
            $("button.delete").click(function(){
                var confirm = window.confirm("Delete this task?")
                if(confirm){
                    var taskid = $(this).attr("data-id")
                    $.ajax({
                        url: "delete",
                        method: "post",
                        data: {
                            id: taskid
                        },
                        success: function(result){
                            console.log(result)
                            if(result.ok==1){
                                $("div[data-id='"+taskid+"']").remove()
                            }
                            else{
                                alert("something went wrong")
                            }
                        }
                    })
                }
            })
            
        })
    </script>
</head>
<body>

    <script>
        $(document).ready(function() {
            $('.carousel').carousel()
        })
    </script>
    
    <div id="pagecontainer">
        <div id="sidebar">
        
            <div id="profilediv">
                <div id="avatar">
                    <img src= "{{image}}">
                </div>
                    <h3>Hello {{user}}!</h3>
                    <div>Credit: {{credit}}</div>
                
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Shop</button> <br><br>
                
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#taskModal">Add New Task</button> <br><br>


                <a href="logout">Logout</a><br>
            </div>
            
        
        </div>
        <div id="content" class="container">
            <div class="row">
                <div id="taskdiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h2>Current Tasks</h2>
                    {{#each tasks}}
                    <div id="taskcontainer" data-id="{{_id}}">
                        <div id="taskname"><a href="#{{_id}}Content" data-toggle="collapse">{{taskName}}</a></div>
                        <div id="reward">{{reward}}</div>
                        <div id="{{_id}}Content" class="collapse">
                            {{taskDesc}}
                            <div>
                                <button class="finish" data-id="{{_id}}">Finish</button>
                                <button class="edit" data-id="{{_id}}">Edit</button>
                                <button class="delete" data-id="{{_id}}">Delete</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div id="taskdiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h2>Daily Tasks</h2>
                    {{#each daytasks}}
                    <div id="taskcontainer" data-id="{{_id}}">
                        <div id="taskname"><a href="#{{_id}}Content" data-toggle="collapse">{{taskName}}</a></div>
                        <div id="reward">{{reward}}</div>
                        <div id="{{_id}}Content" class="collapse">
                            {{taskDesc}}
                            <div>
                                <button class="finish" data-id="{{_id}}">Finish</button>
                                <button class="edit" data-id="{{_id}}">Edit</button>
                                <button class="delete" data-id="{{_id}}">Delete</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div id="taskdiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h2>Weekly Tasks</h2>
                    {{#each weektasks}}
                    <div id="taskcontainer" data-id="{{_id}}">
                        <div id="taskname"><a href="#{{_id}}Content" data-toggle="collapse">{{taskName}}</a></div>
                        <div id="reward">{{reward}}</div>
                        <div id="{{_id}}Content" class="collapse">
                            {{taskDesc}}
                            <div>
                                <button class="finish" data-id="{{_id}}">Finish</button>
                                <button class="edit" data-id="{{_id}}">Edit</button>
                                <button class="delete" data-id="{{_id}}">Delete</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div id="taskdiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h2>Monthly Tasks</h2>
                    {{#each monthtasks}}
                    <div id="taskcontainer" data-id="{{_id}}">
                        <div id="taskname"><a href="#{{_id}}Content" data-toggle="collapse">{{taskName}}</a></div>
                        <div id="reward">{{reward}}</div>
                        <div id="{{_id}}Content" class="collapse">
                            {{taskDesc}}
                            <div>
                                <button class="finish" data-id="{{_id}}">Finish</button>
                                <button class="edit" data-id="{{_id}}">Edit</button>
                                <button class="delete" data-id="{{_id}}">Delete</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div id="taskdiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h2>Finished Tasks</h2>
                    {{#each finishedtasks}}
                    <div id="taskcontainer" data-id="{{_id}}">
                        <div id="taskname"><a href="#{{_id}}Content" data-toggle="collapse">{{taskName}}</a></div>
                        <div id="reward">{{reward}}</div>
                        <div id="{{_id}}Content" class="collapse">
                            {{taskDesc}}
                            <div>
                                <button class="delete" data-id="{{_id}}">Delete</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    
    <!--HIDDEN FORMS-->
    <form action="edit" method="get" id="edit">
        <input type="hidden" id="editid" name="id">
    </form>
    <form action="delete" method="get" id="delete">
        <input type="hidden" id="deleteid" name="id">
    </form>
    <form action="purchase" method="get" id="id">
        <input type="hidden" id="purchaseItem" name="id">
    </form>

    <!--SHOP MODAL PART-->

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">


                        <!--MODAL CONTENT-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Shop</h4>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="inside-body">
                                <form action="post" class="shop items">
                                    <figure>
                                    <button class="purchase" data-id="{{_id}}">
                                        <img src="/shop_item1.png" alt="">
                                    </button>
                                    <figcaption>Cost: 100</figcaption>
                                    </figure>
                                    <figure>
                                    <button type="submit">
                                        <img src="/shop_item2.png" alt="">
                                    </button>
                                    <figcaption>Cost: 100</figcaption>
                                    </figure>
                                </form>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <form action="post">
                                <div class="purchase">
                                <button type="submit" class="btn btn-primary btn-sm">Purchase</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
     
    <!--TASK MODAL-->
    <div class="modal fade" id="taskModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">New Task</h4>
                </div>
                <div class="modal-body">
                    <form action="newtask" method="post">
                        <div class="form-group">
                            <label for="form-groupName">Task Name</label>
                            <input type="text" name="taskname" id="form-groupName" class="form-control" placeholder="Task Name">
                        </div>
                        <div class="form-group">
                            <label for="form-groupDesc">Task Description</label>
                            <input type="text" name="taskdesc" id="form-groupDesc" class="form-control" placeholder="Task Description">
                        </div>
                        <div class="form-group">
                            <label for="form-groupReward">Reward</label>
                            <input type="number" min="0" max="1000" name="taskreward" id="form-groupReward" class="form-control" placeholder="Reward">
                        </div>
                        <div class="form-group">
                            <label for="form-groupFreq">Frequency</label>
                            <select name="taskfreq" id="form-groupFreq" class="form-control">
                                <option value="0">One Time</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Monthly</option>
                            </select>
                        </div>
                        <input type="hidden" name="un" value="{{user}}">
                        <input type="hidden" name="credit" value="{{credit}}">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm" id="newtasksubmitbutton">Submit</button>
                        </div>
                    </form>
                </div>
              </div>
        </div>
        
    </div>
</body>
</html>