<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PixQuest</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            background-image: url(https://images2.alphacoders.com/705/705837.png);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
             background-size: cover;
            margin: 0;
            height: 100%;
        }
        
        #pagecontainer{
            position: fixed;
            width: 100%;
            height: 100%;
        }
        
        #sidebar{
            float: left;
            margin: 1%;
            height: 98%;
            width: 28%;
        }
        
        #profilediv{
            width: 100%;
            height: 600px;
            background-color: white;

            padding: 15px;
            border-radius: 5%;
        }
        
        #content{
            float: left;
            background-color: rgba(255,255,255,0.25);
            height: 100%;
            width: 70%;
        }
        
        #taskdiv{
            position: relative;
            width: 420px;
            height:420px;
            background-color: white;

            padding: 15px;
            border-radius: 2%;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div id="pagecontainer">
        <div id="sidebar">
        
            <div id="profilediv">
                <h3>Hello {{user}}!</h3>

                <a href="logout">Logout</a><br>
            </div>
            
        
        </div>
        <div id="content" class="container">
            <div class="row">
                <div id="taskdiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h2>Current Tasks</h2>
                    <table>
                        {{#each tasks}}
                        <tr>{{taskName}} {{taskDesc}} {{reward}}</tr><br>
                        {{/each}}
                    </table>
                </div>
                <div id="taskdiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h2>Daily Tasks</h2>
                    <table>
                        {{#each regtasks}}
                        <tr>{{taskName}} {{taskDesc}} {{reward}}</tr><br>
                        {{/each}}
                    </table>
                </div>
                <div id="taskdiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h2>Weekly Tasks</h2>
                    <table>
                        {{#each regtasks}}
                        <tr>{{taskName}} {{taskDesc}} {{reward}}</tr><br>
                        {{/each}}
                    </table>
                </div>
                <div id="taskdiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h2>Monthly Tasks</h2>
                    <table>
                        {{#each regtasks}}
                        <tr>{{taskName}} {{taskDesc}} {{reward}}</tr><br>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
     
</body>
</html>