<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PixQuest</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body{
            background-image: url(https://images2.alphacoders.com/705/705837.png);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
             background-size: cover;
        }
        
        #taskdiv{
            
            width: 800px;
            height:450px;
            background-color: white;

            padding: 15px;
            border-radius: 2%;
        }
        
        #taskdivider{
            height: 10px;
        }
        
        #taskdivrepeating{
            
            width: 800px;
            height: 450px;
            background-color: white;

            padding: 15px;
            border-radius: 5%;
        }
        
        #profilediv{
            width: 450px;
            height: 600px;
            background-color: white;

            padding: 15px;
            border-radius: 5%;
        }
        
        #leftcolumn{
            float: left;
            margin: 1%;
            height: 98%;
        }
        
        #midcolumn{
            float: left;
            margin: 1%;
            height: 98%;
        }
    </style>
</head>
<body>
    
    <div id="leftcolumn">
        
            <div id="profilediv">
                <h3>Hello {{user}}!</h3>

                <a href="logout">Logout</a><br>
            </div>
            
        
    </div>
    <div id="midcolumn">
        <div id="taskdiv">
            <h2>Current Tasks</h2>
            <table>
                {{#each tasks}}
                <tr>{{taskName}} {{taskDesc}} {{reward}}</tr><br>
                {{/each}}
            </table>
        </div>
        <div id="taskdivider">
        </div>
        <div id="taskdivrepeating">
            <h2>Repeating Tasks</h2>
            <table>
                {{#each regtasks}}
                <tr>{{taskName}} {{taskDesc}} {{reward}}</tr><br>
                {{/each}}
            </table>
        </div>
    </div>
</body>
</html>